1. Початок

In [11]:
import pandas as pd

df = pd.read_csv("sampledatafoodsales.csv")

2. Відкинути непотрібні колонки

In [12]:
df.drop(df.columns[7], axis=1)

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice
0,1/4/2020,East,Boston,Crackers,Whole Wheat,87,3.49
1,1/7/2020,West,Los Angeles,Cookies,Chocolate Chip,58,1.87
2,1/10/2020,East,New York,Cookies,Chocolate Chip,82,1.87
3,1/13/2020,East,Boston,Cookies,Arrowroot,38,2.18
4,1/16/2020,East,Boston,Bars,Carrot,54,1.77
...,...,...,...,...,...,...,...
238,12/18/2021,East,Boston,Cookies,Arrowroot,34,2.18
239,12/21/2021,East,Boston,Cookies,Chocolate Chip,245,1.87
240,12/24/2021,East,Boston,Crackers,Whole Wheat,30,3.49
241,12/27/2021,West,Los Angeles,Bars,Bran,30,1.87
242,12/30/2021,West,Los Angeles,Cookies,Oatmeal Raisin,44,2.84

1. Скільки коштів отримали за всі продані товари

In [19]:
df["Total"] = df["Quantity"] * df["UnitPrice"]
print("Sum of all products: ", df["Total"].sum())

Sum of all products:  33267.17

2. Скільки коштів отримали окремо у 2020 та 2021 році

In [20]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

for year in (2020, 2021):
    inc = df[df['OrderDate'].dt.year == year]['Total'].sum()
    print(f'Income in {year}: {inc}')

Income in 2020: 17930.249999999996
Income in 2021: 15336.92

3. Який місяць був найбільш прибутковий

In [21]:
print("M monthly_income")

monthly_income = df.groupby(df['OrderDate'].dt.to_period('M'))
overall_month_income = monthly_income['Total'].sum()

print(overall_month_income)
print(overall_month_income.nlargest(1))

M monthly_income
OrderDate
2020-01    1647.41
2020-02     926.05
2020-03    1647.70
2020-04    1052.09
2020-05    1393.45
2020-06    2308.75
2020-07    1263.16
2020-08    1490.90
2020-09    1524.06
2020-10    1755.57
2020-11    1311.47
2020-12    1609.64
2021-01    1235.29
2021-02    1125.41
2021-03    1404.85
2021-04    1536.67
2021-05    1240.96
2021-06    1119.48
2021-07     849.36
2021-08    1215.04
2021-09     825.66
2021-10    1290.21
2021-11    1979.39
2021-12    1514.60
Freq: M, Name: Total, dtype: float64
OrderDate
2020-06    2308.75
Freq: M, Name: Total, dtype: float64

4. Де найбільше було продано продукту типу `Carrot`

In [22]:
carrot_df = df[df["Product"] == "Carrot"]
sales_by_city = carrot_df.groupby("City")["Quantity"].sum()

city_with_most_carrot_sales = sales_by_city.idxmax() # повертає індекс (позначку) першого входження максимального значення в об'єкті DataFrame або Series
total_carrot_sales = sales_by_city.max()

print(f"Місто з найбільшими продажами моркви: {city_with_most_carrot_sales}")
print(f"Загальний обсяг продажів моркви: {total_carrot_sales}")

Місто з найбільшими продажами моркви: Los Angeles
Загальний обсяг продажів моркви: 1262

5. Найбільш ходовий товар

In [23]:
category_sales = df.groupby("Category")["Quantity"].sum()

most_salable_category = category_sales.idxmax()

total_quantiy = category_sales.max()

print(f"The most salable category: {most_salable_category}")
print(f"Amount of units: {total_quantiy}")

The most salable category: Cookies
Amount of units: 7464

6. Найбільш ходовий товар в `Los Angeles`

In [35]:
la_data = df[df['City'] == 'Los Angeles']

product_sales = la_data.groupby('Product')['Quantity'].sum().reset_index()

product_sales_sorted = product_sales.sort_values(by='Quantity', ascending=False)

most_salable_product = product_sales_sorted.iloc[0]

print(f"The most salable product in Los Angeles: {most_salable_product['Product']}")
print(f"Amount: {most_salable_product['Quantity']}")

The most salable product in Los Angeles: Carrot
Amount: 1262

7. Найменш продажний товар в `West`

In [38]:
west_data = df[df['Region'] == 'West']

product_sales = west_data.groupby('Product')['Quantity'].sum().reset_index()

least_salable_product = product_sales.sort_values(by='Quantity', ascending=True).iloc[0]

print(f"The least salable product in the West region is {least_salable_product['Product']}")
print(f"Amount: {least_salable_product['Quantity']}")

The least salable product in the West region is Whole Wheat
Amount: 90

8. На скільки відрізняються продажі `2020` року від `2021`

In [42]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])
df['Year'] = df['OrderDate'].dt.year

sales_2020 = df[df['Year'] == 2020]
sales_2021 = df[df['Year'] == 2021]

total_sales_2020 = (sales_2020['Quantity'] * sales_2020['UnitPrice']).sum()
total_sales_2021 = (sales_2021['Quantity'] * sales_2021['UnitPrice']).sum()

print(f"Total sales in 2020: ${total_sales_2020:.2f}")
print(f"Total sales in 2021: ${total_sales_2021:.2f}")

Total sales in 2020: $17930.25
Total sales in 2021: $15336.92

9. Найбільш ходова категорія за перший місяць `2020` та `2021`

In [43]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

df['Year'] = df['OrderDate'].dt.year
df['Month'] = df['OrderDate'].dt.month

sales_2020_first_month = df[(df['Year'] == 2020) & (df['Month'] == 1)]
sales_2021_first_month = df[(df['Year'] == 2021) & (df['Month'] == 1)]

category_sales_2020 = sales_2020_first_month.groupby('Category')['Quantity'].sum().reset_index()
category_sales_2021 = sales_2021_first_month.groupby('Category')['Quantity'].sum().reset_index()

most_salable_category_2020 = category_sales_2020.sort_values(by='Quantity', ascending=False).iloc[0]
most_salable_category_2021 = category_sales_2021.sort_values(by='Quantity', ascending=False).iloc[0]

print(f"The most salable category in the first month of 2020 is {most_salable_category_2020['Category']} with a total quantity sold of {most_salable_category_2020['Quantity']}.")
print(f"The most salable category in the first month of 2021 is {most_salable_category_2021['Category']} with a total quantity sold of {most_salable_category_2021['Quantity']}.")

The most salable category in the first month of 2020 is Crackers with a total quantity sold of 236.
The most salable category in the first month of 2021 is Bars with a total quantity sold of 349.

10. Де більше споживають `Cookies` в `New York` чи в `Boston`

In [47]:
cookies_ny = df[(df['City'] == 'New York') & (df['Category'] == 'Cookies')]
cookies_boston = df[(df['City'] == 'Boston') & (df['Category'] == 'Cookies')]

total_cookies_ny = cookies_ny['Quantity'].sum()
total_cookies_boston = cookies_boston['Quantity'].sum()

print(f'New York: {total_cookies_ny} cookies')
print(f'Boston: {total_cookies_boston} cookies')

New York: 1856 cookies
Boston: 2706 cookies